<launch>
	<param name="image_thresholder/h_lower" type="int" value="34" />
	<param name="image_thresholder/h_upper" type="int" value="87" />

	<param name="image_thresholder/s_lower" type="int" value="114" />
	<param name="image_thresholder/s_upper" type="int" value="199" />

	<param name="image_thresholder/v_lower" type="int" value="54" />
	<param name="image_thresholder/v_upper" type="int" value="98" />

	<param name="image_thresholder/gaussian" type="int" value="5" />
	
	<node name="image_thresholder" pkg="image_thresholder" type="image_thresholder_node" output="screen" />
</launch>
