<launch>
	<param name="image_thresholder/h_lower" type="int" value="88" />
	<param name="image_thresholder/h_upper" type="int" value="118" />

	<param name="image_thresholder/s_lower" type="int" value="132" />
	<param name="image_thresholder/s_upper" type="int" value="202" />

	<param name="image_thresholder/v_lower" type="int" value="92" />
	<param name="image_thresholder/v_upper" type="int" value="153" />

	<param name="image_thresholder/gaussian" type="int" value="5" />
	
	<node name="image_thresholder" pkg="image_thresholder" type="image_thresholder_node" output="screen" />
</launch>
